@charset "UTF-8";

/*************************** STARS ****************************/
html {
	overflow-x: hidden;
}

#stars {
	background: #425169 url('../img/stars.jpg') top center;
	width: 100%;
	height: 4000px;
	position: fixed;
	top: 0;
	z-index: 100;
}

.blockOne {
	position: absolute;
	left: 65%;
	bottom: 50%;
	margin-left: -1930px;
	margin-bottom: -550px;
	display: block;
	background: white;
	width: 2000px;
	height: 2000px;
	transform: rotate(70deg);
	z-index: 102;
}

.blockTwo {
	position: absolute;
    left: 65%;
    bottom: 40%;
    margin-left: -480px;
    margin-bottom: -100px;
    display: block;
    background: white;
    width: 3066px;
    height: 2000px;
    transform: rotate(70deg);
    z-index: 101;
}

#textRotate {
	position: absolute;
    bottom: -10px;
    right: 8px;
    margin: 0px;
    font-size: 40px;
    color: black;
    font-weight: inherit;
    z-index: 999;
}

#img-strelka {
	position: absolute;
    top: 86%;
    right: 10%;
    height: 60px;
    width: 50px;
    z-index: 1000;
    background: url(../img/strelka.png) no-repeat 0 0;
}

.animation {
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: infinite;
	-o-animation-duration: 3s;
	-o-animation-delay: 2s;
	-o-animation-iteration-count: infinite;
	-ms-animation-duration: 3s;
	-ms-animation-delay: 2s;
	-ms-animation-iteration-count: infinite;
}

#content article h2#myName {
    margin: 0px;
    font: 60px/1.8 Helvetica;
    font-weight: bold;
    color: red;
    padding: 35px;
    z-index: 999;
}

#home {
	margin-left: 400px;
    margin-top: 220px;
    color: black;
    font-size: 18px;
    font-family: Europe Extend;
    line-height: 1.4em;
}

#home li {
	list-style-type: none;
}

span.phone{
	font-weight: bold;
	width: 4em;
	display: inline-block;
}

/********************** myCod_button ****************************/

#myCodSection {
	margin-top: 50px;
}

section {
	margin: 20px 0 0 30px;
}

#myCod a {
	background: #50a6d2;
    outline: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    padding: 3px 0 0 0;
    margin: 3px 0 0 20px;;
    text-transform: uppercase;
    display: inline-block;
    /* font-family: "Bitte",serif; */
    text-align: center;
    line-height: 1.8;
    letter-spacing: 2px;
    font-weight: inherit;
    box-shadow: inset 0 0 0 1px #000000,0 5px 15px #ffffff;
	
 	background-color: #000000;
  	background-image: linear-gradient(to top, #6496c8, #346392);
 	border: none;
   	box-shadow: inset 0 0 0 1px #000000,0 5px 15px #ffffff;
}

.buttons {
	height: 35px;
    width: 130px;
}

.validator {
	width: 300px;
}

#myCod a:focus {
 	 outline: none
}

#myCod a:hover,
#myCod a.hover {
	box-shadow: inset 0 0 0 1px #ffffff;
  
}

#myCod a:active,
#myCod a.active {
 	 box-shadow: inset 0 0 0 1px #ff0000,inset 0 5px 30px #ff0000;
}

/********************** DOWNLOAD_PDF ****************************/

#resumPdf:hover {
	background: #ff5353;
}

#resumPdf {
	transform: rotate(90deg);
	position: fixed;
    top: 250px;
	min-width: 220px;
    height: 40px;
    color: #fff;
    background: #ff0000;
    right: -90px;
	z-index: 1000;
}

#img-download {
	float: left;
	margin: 6px;
}

.resumPdfText {
	cursor: pointer;
    overflow: hidden;
    border-left: 1px solid white;
    padding: 4px 0 4px 15px;
    margin-left: 40px;
    font-size: 18px;
    letter-spacing: 2px;
}

/*************************** IMAGES ****************************/
#images {
	position: fixed;
	top: 0;
	width: 130%;
	z-index: 200;
}

#images img {
	padding-top: 50px;
}
 

#img-myFoto {
	position: absolute;
	height: 80%;
	/*height: 570px;*/
    bottom: 0px;
	left: 10%;
	z-index: 999; 
}

#img-skills {
	position: absolute;
	height: 280px;
	top: 1000px;
	left: 60%;
}

#img-myCod {
	position: absolute;
	height: 260px;
	top: 1800px;
	left: 50%;
}

#img-experience {
	position: absolute;
    height: 280px;
    top: 2500px;
    left: 56%;
}

#img-education {
	position: absolute;
	height: 280px;
	top: 3250px;
	left: 59%;
}


/*************************** CONTENT ****************************/

#content {
	color: #ffffff;
	position: relative;
	margin: 0 auto;
	width: 1150px;
	top: -180px;
	z-index: 300;
}

#content article {
	padding-top: 65px;
	width: 850px;
}

#content article#other{
	width: 100%;
	
}

#content article h2 {
	color: #ffffff;
	font-size: 22px;
	margin-bottom: -6px;
}

#content article#home {
	width: 960px;
}

#skills {
	position: absolute;
	top: 1500px;
}

#myCod {
	position: absolute;
	top: 3000px;
}

#experience {
	position: absolute;
	top: 4500px;
}

#education {
	position: absolute;
	top: 6000px;
	padding-bottom: 800px;
}


#other {
	position: absolute;
	top: 7500px;
	padding-bottom: 800px;
}

/*************************** LINK ****************************/

#content #myCod ul li a {
	color: #ff0000;
	margin-top: auto;
	text-decoration: underline;
	
	font-weight: bold;
	
}

#content article ul li a {
	color: #50a6d2;
	margin-left: 1px;
	text-decoration: underline;
	font-size: 14px;
}

#content article ul li a:HOVER {
	color: #ff0000;
	text-decoration: underline
}
/*
#content article ul li a:active {
	color: #0000a0;
	margin-left: 10px;
	text-decoration: underline;
}
*/



/*************************** EARTH ****************************/
#myHome {
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 900;
}
/*************************** NAVIGATION ***********************/
#main-nav {
	background-color: #ffffff;
	height: 35px;
	padding-left: 7%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#main-nav ul {
	width: 1600px;
	margin: 0 auto;
	height: 25px;
	padding-top: 6px;
}

#main-nav ul li {
	float: left;
	height: 30px;
	margin-left: 60px;
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

#main-nav ul li a {
	color :#000000;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	font-weight: normal;
	text-transform: uppercase;
}

#main-nav ul li a:HOVER {
	padding-bottom: 3px;
	border-bottom: 3px solid red;
}

#main-nav ul li a:FOCUS {
	padding-bottom: 3px;
	border-bottom: 3px solid #ff0000;
}

/*************************** FOOTER ***********************/



footer {
	background-color: white;
    width: 100%;
    height: 300px;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    position: absolute;
    top: 9290px;
    z-index: 999;
    text-align: center;
    padding-top: 2%;
}

footer #copy {
	margin-top: 65px;
}

footer #contact {
	margin-top: 0px;
	font-size: 30px;
	font-weight: 900;
}

#img-redMen {
	position: absolute;
	height: 250px;
    margin-left: 1050px;
    left: 5%;
    z-index: 1000;
}

/*************************** ANIMATE STRELKA ***********************/
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */